h1 {
          color: blue;
          background-color: gray
}
P{
          color: rebeccapurple;
          background-color: cornsilk;
}
button {
          color: gold;
          background-color:rgb(10, 6, 1);

}